.loader {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: black;
}

.loader img {
  width: 50%;
  object-fit: contain;
  animation: fadeIn 7.75s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.25);
  }
  40% {
    opacity: 1;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}
